        <!-- Showtime -->
        <div id="showtime" class="mb-5">
            <!-- Separator -->
            <div id="showtime-separator" class="py-4">
                <div class="container position-relative">
                    <div class="d-flex justify-content-start align-items-center">
                        <div id="showtime-icon-play" class="text-yellow fs-1 me-5">
                            <i class="fa-solid fa-play"></i>
                        </div>
                        <div id="showtime-text" class="text-white">
                            <h1>Suất chiếu</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DATAFILL ITEM -->
            <div class="showtime-item mx-auto d-flex mt-5">
                <!-- Left side info -->
                <div class="showtime-item-info d-flex align-items-center">

                    <!-- DATAFILL POSTER -->
                    <div class="showtime-item-info-poster">
                        <img src="../assets/img/showtime-item.png" alt="Movie Poster">
                    </div>

                    <!-- Content -->
                    <div class="showtime-item-info-content text-white d-flex flex-column mx-4">

                        <!-- DATAFILL MOVIE TITLE -->
                        <h4 class="showtime-item-info-content-title text-center">Cô Ba Sài Gòn</h4>

                        <!-- DATAFILL MOVIE DESCRIPTION -->
                        <p class="showtime-item-info-content-content">Cô Ba Sài Gòn mở đầu bằng một đoạn phim tư liệu
                            lấy cột mốc Sài Gòn năm 1969 và đó dường như là “cảnh ngoại” duy nhất của cột mốc này. </p>

                        <!-- DATAFILL RATING -->
                        <span class="showtime-item-info-content-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </span>

                        <!-- DATAFILL RATING -->
                        <span>180k voters</span>
                    </div>
                </div>

                <!-- Right Side Time -->
                <div class="showtime-item-time my-auto d-flex">

                    <!-- Date -->
                    <div class="showtime-item-time-date position-relative d-flex">
                        <div class="showtime-item-time-date-cut1"></div>
                        <div class="showtime-item-time-date-cut2"></div>

                        <!-- DATAFILL DATE -->
                        <div
                            class="showtime-item-time-date-date text-white position-absolute top-50 translate-middle-y">
                            <h3>22/02</h3>
                            <h3>2022</h3>
                        </div>
                    </div>

                    <!-- Tag and time-->
                    <div class="showtime-item-time-tagntime d-flex flex-column mx-4 my-2 justify-content-around w-100">

                        <!-- Tag -->
                        <div class="showtime-item-time-tagntime-tag">
                            <img src="../assets/img/2dtag.png" alt="Tag 2D">
                        </div>

                        <!-- Time slot -->
                        <div class="showtime-item-time-tagntime-time d-flex">

                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                            <!-- DATAFILL TIME -->
                            <div class="showtime-item-time-tagntime-time-slot me-4">
                                <a href=""
                                    class="showtime-item-time-tagntime-time-slot-inner text-white text-center text-decoration-none">
                                    <h4>15:30</h4>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>