* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.text-yellow {
    color: #FFBA08 !important;
}

.bg-yellow {
    background-color: #FFBA08 !important;
}

.text-green {
    color: #CCF381 !important;
}

.bg-green {
    background-color: #CCF381 !important;
}

.hover-green:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #CCF381 !important;
}

.hover-bg-green:hover {
    transition: 0.5s;
    cursor: pointer !important;
    background-color: #CCF381 !important;
}

.hover-yellow:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #FFBA08 !important;
}

.hover-bg-yellow:hover {
    transition: 0.5s;
    cursor: pointer !important;
    background-color: #FFBA08 !important;
}

.custom-active::after {
    content: "";
    position: absolute;
    background-color: #FFBA08;
    height: 1px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#wrapper {
    min-height: 100vh;
    background-color: #000218;
}

/* ============================= */

/* Top part */
#toppart {
    margin: 0;
    height: 1000px;
    background: url(../assets/img/homepage/movie-area.png);
    background-size: cover;
}


/* Showtime toggler */
#showtime-separator .container::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 1px;
    width: 100%;
    bottom: -10px;
}

/* Showtime */
.showtime-item {
    height: 305px;
    max-width: 1304px;
}

.showtime-item-info {
    width: 467px;
    height: 305px;
    margin-left: 20px;
    background: url(../assets/img/galaxy-bg.png) no-repeat;
}

.showtime-item-info-poster {
    transform: translateX(-20px);
}

.showtime-item-info-content-rating {
    color: yellow;
}

.showtime-item-time {
    height: 124px;
    width: 818px;
    background-color: rgb(255, 255, 255, 0.15);
}

.showtime-item-time-date {
    width: 150px;
    height: 130px;
    transform: translateY(-3px);
}

.showtime-item-time-date-cut1 {
    width: 98px;
    height: 130px;
    background-color: #ABAE09;
}

.showtime-item-time-date-cut2 {
    width: 52px;
    height: 130px;
    border-left: 52px solid #ABAE09;
    border-bottom: 130px solid rgb(255, 255, 255, 0);
}

.showtime-item-time-date-date {
    left: 15%;
}

.showtime-item-time-tagntime-time-slot {
    width: 80px;
    height: 44px;
    background-color: #55BDCB;
}

.showtime-item-time-tagntime-time-slot h4 {
    line-height: 44px;
}