* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.text-yellow {
    color: #FFBA08 !important;
}

.bg-yellow {
    background-color: #FFBA08 !important;
}

.text-green {
    color: #CCF381 !important;
}

.bg-green {
    background-color: #CCF381 !important;
}

.hover-green:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #CCF381 !important;
}

.hover-bg-green:hover {
    color: #000000 !important;
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #CCF381 !important;
}

.hover-yellow:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #FFBA08 !important;
}

.hover-bg-yellow:hover {
    color: #000000 !important;
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #FFBA08 !important;
}

.custom-active::after {
    content: "";
    position: absolute;
    background-color: #FFBA08;
    height: 1px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#wrapper {
    min-height: 100vh;
    background-color: #000218;
}

/* ============================= */

/* Sidenav */
#changepasswordSideNav a {
    left: -200px;
    transition: 0.5s;
    width: 240px;
    border-radius: 0 5px 5px 0;
}

#changepasswordSideNav a:hover {
    left: 0;
}

#profileDetails {
    background-color: rgba(217, 217, 217, 0.25);
    top: 80px;
}

#changePassword {
    top: 130px;
}

/* Main */
#changepassword-main {
    background-color: rgba(217, 217, 217, 0.25);
}

#changepassword-main table {
    border-collapse: separate;
    border-spacing: 12px;
}

#changepassword-main input {
    min-height: 44px;
    background-color: rgba(217, 217, 217, 0.25);
    border: #FFFFFF solid 1px;
}