* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.text-yellow {
    color: #FFBA08 !important;
}

.bg-yellow {
    background-color: #FFBA08 !important;
}

.text-green {
    color: #CCF381 !important;
}

.hover-green:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #CCF381 !important;
}

.hover-bg-green:hover {
    color: #000000 !important;
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #CCF381 !important;
}

.hover-yellow:hover {
    transition: 0.5s;
    cursor: pointer !important;
    color: #FFBA08 !important;
}

.hover-bg-yellow:hover {
    color: #000000 !important;
    transition: 0.5s !important;
    cursor: pointer !important;
    background-color: #FFBA08 !important;
}

.btn-custom:hover {
    transform: translateY(-2px) !important;
}

.btn-custom:active {
    transform: translateY(-2px) !important;
}

/* ============================= */

#employeeManagerDataTable tbody td:last-child {
    display: flex;
    justify-content: space-around;
}

/* Button log out */
#btn-logout {
    background: rgb(228, 58, 21);
    background: linear-gradient(90deg, rgba(228, 58, 21, 1) 0%, rgba(230, 82, 69, 1) 100%);
    transition: all 0.3s ease 0s !important;
}

#btn-logout:hover {
    background-color: rgb(228, 58, 21) !important;
    box-shadow: 0px 5px 5px rgb(213, 160, 148) !important;
}

/* Log out modal icon */
#logout-modal-icon {
    height: 80px;
    width: 80px;
    background-color: red !important;
}

/* Button add employee */
#btn-add-employee {
    background: rgb(20, 136, 204);
    background: linear-gradient(90deg, rgba(20, 136, 204, 1) 0%, rgba(43, 50, 178, 1) 100%);
    transition: all 0.3s ease 0s !important;
}

#btn-add-employee:hover {
    background-color: rgba(20, 136, 204, 1) !important;
    box-shadow: 0px 5px 5px rgb(88, 169, 217) !important;
}

/* Entries selector */
.dropdown-container>select {
    width: 80px;
    height: 30px;
}