:root {
    --color-1 : #785b52;
    --color-2 : #ad8670;
    --color-3 : #ddb49d;
    --color-4 : #f7dfc3;
}
.bg-1 {
    background-color: var(--color-1);
}
.bg-2 {
    background-color: var(--color-2);
}
.bg-3 {
    background-color: var(--color-3);
}
.bg-4 {
    background-color: var(--color-4);
}

#wrapper {
    margin-top: 100px;
}