* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #785b52;
    --color-2: #ad8670;
    --color-3: #ddb49d;
    --color-4: #f7dfc3;
}

.bg-1 {
    background-color: var(--color-1);
}

.bg-2 {
    background-color: var(--color-2);
}

.bg-3 {
    background-color: var(--color-3);
}

.bg-4 {
    background-color: var(--color-4);
}

.hover-effect {
    transition: 0.4s;
}

.hover-effect:hover {
    opacity: 0.5;
}

.custom-button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.custom-button:hover {
    background-color: var(--color-1);
    box-shadow: 0px 15px 20px #51372f99;
    color: #fff;
    transform: translateY(-7px);
}

.custom-button:active {
    transform: translateY(-1px);
}





/* Wrapper */
#wrapper {
    background-image: url(/img/texture1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main */
#main {
    background-color: var(--color-4);
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Navbar */
.dropdown-item {
    height: 40px;
    width: 12rem !important;
    line-height: 40px;
}

/* Banner slider */
.carousel-inner {
    width: 100%;
    height: auto;
}
.carousel-item {
    width: 100%;
    height: auto;
}

/* Movie slider */
.slide-container {
    max-width: 1200px;
    width: 100%;
}

.slide-container h2 {
    text-transform: capitalize;
}

.slide-content {
    overflow: hidden;
}

.card-image {
    position: relative;
    overflow: hidden;
}

.card-img {
    aspect-ratio: 2/3;
    object-fit: fill;
}

.card-image:hover .card-img-info {
    bottom: 0;
}

.card-img-info {
    position: absolute;
    bottom: -100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    transition: 0.3s;
}

.swiper-navBtn {
    color: #6E93f7 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #4070f4 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-pagination-bullet {
    background-color: #6E93f7 !important;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070f4 !important;
}